@{
  Layout = "_Layout";
}

<form action="/task/create" method="post">
  <label for="new-task">Task description:</label>
  <input id="new-task" name="new-task" type="text">
  <button type="submit">Submit</button>
</form>
